html, body {
  background-color: #0E0E0E;
  width: 100%;
}

.posts-container, .catch-phrase, .email {
  color: #294762;
  opacity: 100%;
  font-size: 13px;
  font-face: OpenSans-Light;
  character: 0px;
  line: 20px (1.5);
  font-family: "Avenir Next";
}

.catch-phrase {
  font-style: italic;
  margin-bottom: 30px;
}

.name {
  color: #294762;
  font-family: "Avenir Next";
  opacity: 100%
  font-size: 13px;
  font-face: "OpenSans-Semibold";
  character: 0px;
  line: 18px (1.4)
}

.card-container {
  background-color: #FFFFFF;
  display: flex;
	flex-flow: row wrap;
	margin: 10% 0%;
  padding: 30px 75px;
}

.card {
  flex: 0;
  border: solid #EAEDEF 1px;
  max-width: 350px;
  min-width: 350px;
  height: 206px;
  margin: 10px 0px 10px 0px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(234,237,239,1);
}

.posts-container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 53px;
  line-height: 53px;
  text-align: center;
  border: solid #EAEDEF 1px;
  box-shadow: 2px 2px 2px 2px rgba(234,237,239,1);
  transition: height 1000ms;
}

.avatar {
  position: absolute;
  height: 106px;
  width: 106px;
  left: 20px;
  top: 50px;
}

.card-content {
  position: absolute;
  width: 184px;
  right: 20px;
  top: 50px;
  overflow: visible;
}

.title {
  color: #294762 80%;
  opacity: 100%;
  font-size: 20px;
  font-face: OpenSans-Light;
  character: 0px;
  line: 30px (1.5)
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

.body {
  color: #294762 80%;
  margin: 0 20px;
  font-size: 13px;
  font-face: OpenSans;
  character: 0px;
  line: 20px (1.5);
  line-height: 1.5;
  text-align: left;
}

.posts-container.expanded {
    padding-top: 30px;
}

.expanded {
  height: 450px;
  overflow: auto;
  transition: height 1000ms;
}

@media screen and (max-width: 868px) {
  .posts-container {
    min-width: 350px;
    max-width: 350px;
  }
}
